:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --color-icon: #afb1b8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* Logo */

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
}
.logo-header {
  color: black;
}

/* main nav */

.main-nav {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header .main-nav {
  justify-content: flex-end;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.portfolio {
  color: var(--accent-color);
}

.addres-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.addres-list .item:not(:last-child) {
  margin-right: 50px;
}

.addres-list .mail {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.icon-mail-link {
  display: inline-flex;
  align-items: center;
}

.icon-e-mail {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.icon-e-mail:hover,
.icon-e-mail:focus {
  fill: var(--accent-color);
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.icon-smartphone:hover,
.icon-smartphone:focus {
  fill: var(--accent-color);
}

.addres-list .mail:hover,
.addres-list .mail:focus {
  color: var(--accent-color);
}

.addres-list .tel {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}

.addres-list .tel:hover,
.addres-list .tel:focus {
  color: var(--accent-color);
}

/* Стилизация секцый */
/*  Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/imgheroy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-contact {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
}

/* Section */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
}

/* features */

.feature-list {
  display: flex;
}

.feature-list .list-item:not(:last-child) {
  margin-right: 30px;
}

.list-item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.list-item:nth-child(1)::before {
  background-image: url(../images/antenna1.png);
}

.list-item:nth-child(2)::before {
  background-image: url(../images/clock.png);
}

.list-item:nth-child(3)::before {
  background-image: url(../images/diagram.png);
}

.list-item:nth-child(4)::before {
  background-image: url(../images/astronaut.png);
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}

/* services-list */

.services-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Команда  commands */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-feature {
  padding-bottom: 0;
}

.command {
  background-color: var(--secondary-bg-color);
}

.command-list {
  display: flex;
}

.command-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.command-list .item:not(:last-child) {
  margin-right: 30px;
}

.services-list {
  display: flex;
}

.command-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}

.command-list .text {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
/* Список ссылок на соц сети */

.social-icon-list {
  display: flex;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.social-icon-link:hover .icon-social,
.social-icon-link:focus .icon-social {
  fill: var(--accent-color);
}

.social-icon-link:hover.instagram,
.social-icon-link:focus.instagram {
  background-color: var(--accent-color);
}

.social-icon-link:hover .instagram,
.social-icon-link:focus .instagram {
  fill: var(--primary-white-color);
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: var(--color-icon);
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
}

/* Постоянные клиенты */

.list-clients {
  display: flex;
  padding: 0;
  margin: 0;
}

.link-client {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
}

.link-client:hover,
.link-client:focus {
  border: 1px solid var(--accent-color);
}

.client-logo {
  fill: var(--color-icon);
}

.link-client:hover .client-logo,
.link-client:focus .client-logo {
  fill: var(--accent-color);
}

.list-clients-link:not(:last-child) {
  margin-right: 30px;
}

.icon-link-client-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44.27px;
  height: 49.23px;
  text-align: center;
}

.icon-link-client-two {
  width: 40px;
  height: 52px;
}

.icon-link-client-three {
  width: 41px;
  height: 42.6px;
}

.icon-link-client-four {
  width: 79px;
  height: 42.02px;
}

.icon-link-client-five {
  width: 59px;
  height: 47px;
}

.icon-link-client-six {
  width: 88px;
  height: 45px;
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer-link-twitter:hover .twitter {
  fill: var(--primary-white-color);
}

.dark-icon-footer {
  margin-top: 0;
  margin-bottom: 100px;
  width: 206px;
  height: 44px;
  margin-left: 0;
}
.container.footer-icon {
  display: flex;
  align-items: baseline;
}

/* Оформлення ссилок  на соц сети */

.text-footer {
  display: block;
  margin-bottom: 20px;
  padding-top: 72px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.icon-link-footer .icon-social {
  fill: var(--primary-white-color);
}

.icon-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link-twitter {
  background-color: var(--accent-color);
}

.footer-link-twitter .icon-social {
  fill: var(--primary-white-color);
}

/* Лого footer*/
.logo-footer {
  color: var(--primary-white-color);
}

.footer-logo {
  padding-top: 60px;
  margin-bottom: 20px;
}

.footer-logo .logo {
  margin-top: 0;
  padding: 0;
}

.list-footer {
  padding-bottom: 60px;
  margin-top: 0;
  margin-right: 70px;
}

.footer.container {
  background-color: #2f303a;
}

.adres-footer .adres {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

.adres-footer .mail,
.adres-footer .tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

/* button кнопка */

.button-hero {
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  display: inline-block;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Стилизацый 2 страницы ПОРТФОЛИО main*/

.button-all {
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  display: inline-block;
  min-width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
}

.button-all:hover,
.button-all:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons {
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  letter-spacing: 0.03em;
}

.button-list .button-veb {
  min-width: 128px;
  height: 38px;
}

.button-list .button-applications {
  min-width: 145px;
  height: 38px;
}

.button-list .button-design {
  min-width: 103px;
  height: 38px;
}

.button-list .button-marketing {
  min-width: 130px;
  height: 38px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

/* Портфолио списки */

.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.link-portfolio {
  display: block;
  text-decoration: none;
}

.portfolio-text {
  padding: 20px 24px;
}

.portfolio-link .title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-style: normal;

  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}

.portfolio-link .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-style: normal;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: flex;
  flex-wrap: wrap;
}

.item-website:hover,
.item-website:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-link .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-link .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
